<body>
<div class="carousel-container">
  <div #carousel class="carousel">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
    <img src="../assets/img/image1.jpg" class="carousel-image">
    <img src="../assets/img/image2.jpg" class="carousel-image">
    <img src="../assets/img/image3.jpg" class="carousel-image">
    <img src="../assets/img/image4.jpg" class="carousel-image">
    <img src="../assets/img/image5.jpg" class="carousel-image">
    <img src="../assets/img/image6.jpg" class="carousel-image">
    <img src="../assets/img/image7.jpg" class="carousel-image">
    <img src="../assets/img/image8.jpg" class="carousel-image">
    <img src="../assets/img/image9.jpg" class="carousel-image">
  </div>
  <div class="overlay">
    <h1 class="title">XERATH</h1>
    <a (click)="llamarLogin()"  class="login-link">Login</a>
    <a (click)="llamarPage()" routerLink="/discover" class="stream-link">Explora Streams</a>
  </div>
</div>
</body>


  
