
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.carousel-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: calc(100% * 9); /* Ajustado para 9 imágenes */
  animation: slide 210s infinite linear;
}

.carousel-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 4em;
  color: #e4a4d8;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.login-link, .stream-link {
  padding: 15px 30px;
  background-color: #e4a4d8;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.1s, color 0.1s;
}

.login-link:hover, .stream-link:hover {
  background-color: #fff;
  color: #e4a4d8;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-800%); }
}