.main-container {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  .content {
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
  }

  .history-item {
    border: 2px solid #9b59b6;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }

  .history-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
  }

  .history-item h3 {
    margin: 0 0 10px;
  }

  .follow-button {
    background: #fff;
    color: #e4a4d8;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .follow-button:hover {
    background: #e4a4d8;
    color: #fff;
  }